{% load staticfiles %}
<html >
<head>
  
	<meta charset="UTF-8">
	<title>Акты</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">  
  
	<script src="{% static 'js/prefixfree.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    

</head>

<body>

	<h1>Список актов</h1>

	<div class="new-akt"><a class="effect-2" href="{% url 'create_act'  %}">Создать новую карточку акта</a></div>
	
{% if list %}
   
    {% for akt in list %}        
		
		<div class="box">
			<a class="effect-1" href="{% url 'detail' akt.id %}">{{ akt.regnum }}</a>
		</div>
		<div class="box">
			{{ akt.theme }}
		</div>
		<div class="btn" data-type="letter_spacing">
			<a href="{% url 'edit_act' akt.id %}">Редактировать</a>
		</div>
			
    {% endfor %}
 
{% else %}
    <p>No polls are available.</p>
{% endif %}
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
</body>