<html lang='ru'>
<head>
<link rel="shortcut icon" href="/pics/favicon.png"/>
{% load static %}
<link rel="stylesheet" href={% static "css/jquery-ui.css" %}>
  <script src={% static "js/jquery-1.12.4.js" %}></script>
  <script src={% static "js/jquery-ui.js" %}></script>
  <script src={% static "js/datepicker-ru.js" %}></script>
  <script>
  $( function() {
    $( ".selDate" ).datepicker();
  } );
  </script>
</head> 
<h1>Создание\редактирование карточки акта {{form.akt_id }}</h1>
    <form  enctype="multipart/form-data" method="POST" class="post-form" action={{ request.path }}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Сохранить</button>
    </form>